:root {
  --color-bg: #fff;
  --color-main: rgba(0, 0, 0, 0.85);
  --color-secondary: rgba(0, 0, 0, 0.65);
  --color-tertiary: rgba(0, 0, 0, 0.45);
  --color-border: rgba(0, 0, 0, 0.15);
  --color-hover: rgba(0, 0, 0, 0.04);
  --color-primary: #1890ff;
  --color-danger: #f5222d;
}
